<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<h2>
    <navi>
        <a href="{% url 'polls_home' %}"> Home </a> |
        <a href="{% url 'book_list' %}"> Books </a> |
        <a href="{% url 'author_list' %}"> Authors </a> |
        <a href="{% url 'publisher_list' %}"> Publishers </a> |
        <a href="{% url 'store_list' %}"> Storeis </a> |
        <a href="/admin/"> Admin </a> |
        {% if not request.user.is_authenticated %}
        <a href="{% url 'login' %}"> Login </a> |
    {% else %}
        Username - {{ request.user.username }} |
    {% endif %}
        <a href="{%  url 'logout' %}"> Logout </a> |
    </navi>
</h2>
{% block content %}{% endblock %}
</body>
</html>