{% extends 'polls/base.html' %}

{% block title %}

{% endblock %}

{% block content %}
    <h1>Books list page</h1>
    {% for book in books %}
        <ul>
            <li>
                Book - <a href="{% url 'polls_book_detaile' book.id %}">{{ book.name }}</a>,
                Rating - {{ book.rating }},
                Authors - {% for author in book.authors.all %}
                {{ author.name }},
                {% endfor %}
                Publisher - {{ book.publisher.name }}
                Store - {{ book.store_set }},
                Pubdate - {{ book.pubdate }}
            </li>
        </ul>
    {% endfor %}

{% endblock %}