{% extends 'polls/base.html' %}

{% block title %}

{% endblock %}

{% block content %}
    <h1>Books list page</h1>
    {% for book in books %}
        <ul>
            <li>
                Book - <a href="{% url 'polls_book_detaile' book.id %}">{{ book.name }}</a>,
                Rating - {{ book.rating }},
                Authors - {{ book.authors }}
                Publisher - {{ book.publisher.name }}
                Store - {{ book.store_set }},
                Pubdate - {{ book.pubdate }}
            </li>
        </ul>
    {% endfor %}

{% endblock %}