{% extends 'polls/base.html' %}

{% block title %}
    Publisher
{% endblock %}

{% block content %}
    <h1>Publisher list page | <a href="{% url 'publisher_add_form' %}"> Add publisher</a></h1>
    <ul>
        {% for publisher in publishers %}
            <li>
                Publisher - <a href="{% url 'publisher_detaile' publisher.id %}">{{ publisher.name }}</a>,
                Books - {% for book in publisher.book_set.all %}
                {{ book.name }}
            {% endfor %}
                <br>
            </li>
        {% endfor %}

    </ul>
{% endblock %}